.Downloads {
    width:100%;
    height:1000px;
    display:flex;
    text-align: center;
    flex-direction: column;
    color: white;
}
.Downloads h1 {
    font-size:50px;
    font-family:Raleway;
}
.Downloads p {
    font-size:20px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-family:sans-serif;
}
.download-form {
    font-size:20px;
    font-family:Raleway;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-bottom:40px;

}
.download-form h3 {
    font-size:30px;
    font-weight: 500;
    text-align: center;
    margin-bottom:20px;
}
.name {
    display:flex;
    margin-bottom:40px;
}
.first-name {
    margin-right:40px;
}
#fname, #lname {
    height:30px;
    border:0px;
}
#email {
    width:100%;
    margin-bottom:40px;
    height:30px;
    padding:0px;
    border:0px;
}
#use-type-select {
    width:100%;
    height:30px;
    margin-bottom:60px;
    border:0px;
}
.submit input[type=submit] {
    padding:5px 15px; 
    background: rgb(71, 219, 71); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left:auto;
    margin-right:auto;
    font-family:Raleway;
    font-size:20px;
    width:100%;
    height:40px;
    color:white;
}