.Features {
    width:80%;
    height:100%;
    display:flex;
    text-align: left;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    border-radius:10px;
}
.Features h1 {
    color:white;
    text-align: left;
    margin-left:20px;
    font-family:Raleway;
}
.Features h2 {
    color:white;
    text-align: left;
    margin-left:40px;
    font-family:Raleway;
}
.Features p {
    font-size:20px;
    color:white;
    width:80%;
    margin-left:80px;
    margin-right:auto;
    font-family:sans-serif;
}