.Footer {
    display:flex;
    position:relative;
    background:rgba(255, 255, 255, 0.5);
    bottom:0;
    width: 100%;
    height:140px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.Footer img {
    margin-top:40px;
    margin-bottom:40px;
    margin-right:300px;
    margin-left:300px;
}