.Index {
    display:flex;
    width:100%;
    height:1000px;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Index p {
    font-family:Raleway;
    color:white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    border-radius:20px;
    padding:20px;
    font-size:60px;
    width:50%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.Index button {
    float: left;
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;
    color:white;
    font-family:Raleway;
    margin-left:80px;
    margin-right:80px;
    padding:10px;
    transition: background 0.8s linear;
    cursor:pointer;
}
.Index button:hover {
    background-color:black;
}

.Index button:active {
    background-color:white;
}