.Navbar {
    height:70px;
}
.Logo {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:5px;
    float:left;
    
}
.Buttons {
    float:right;
    vertical-align: middle;
    margin-right:40px;
    margin-top:20px;
}
ul {
    display:inline-flex;
    list-style-type: none;
}
.Buttons button {
    font-size:20px;
    margin-left:40px;
    background: none;
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-family:Raleway;
    transition: border 0.8s linear;
    cursor: pointer;
}

.Buttons button:hover {
    border-color: white;
}
.Buttons button:active {
    background:white;
}